# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Windows batch files need CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.ico binary
*.icns binary
*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.a binary
